.image-container{
    display: flex;
    justify-content: center;
}

.details-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    display: flex;
}

.product-image{
    height: 500px;
    width: 500px;
}

.buttons{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
}

.buttons:hover{
    background-color: black;
    color: #ffffff;
    border-color: white;
    border-width: 1px;
}